
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommandeLabel" data-translate="pfeApp.commande.home.createOrEditLabel">Create or edit a Commande</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.commande.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.commande.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.commande.date_commande" for="field_date_commande">Date Commande</label>
                <div class="input-group">
                    <input id="field_date_commande" type="text" class="form-control" name="date_commande" datetime-picker="{{dateformat}}" ng-model="vm.commande.date_commande" is-open="vm.datePickerOpenStatus.date_commande"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date_commande')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date_commande.$invalid">
                <p class="help-block"
                    ng-show="editForm.date_commande.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.date_commande.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.commande.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="vm.commande.designation"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPiece_jointe($file, vm.commande)">
            <label class="control-label" data-translate="pfeApp.commande.piece_jointe" for="field_piece_jointe">Piece Jointe</label>
            <div>
                <div ng-if="vm.commande.piece_jointe" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.commande.piece_jointeContentType, vm.commande.piece_jointe)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.commande.piece_jointeContentType}}, {{vm.byteSize(vm.commande.piece_jointe)}}</span>
                    <button type="button" ng-click="vm.commande.piece_jointe=null;vm.commande.piece_jointeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPiece_jointe($file, vm.commande)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="piece_jointe" id="field_piece_jointe"
                    ng-model="vm.commande.piece_jointe"
                    />
            <input type="hidden" class="form-control" name="piece_jointeContentType" id="field_piece_jointeContentType"
                    ng-model="vm.commande.piece_jointeContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.commande.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.commande.reference"
                    />
        </div>

        <div class="form-group">
            <label data-translate="pfeApp.commande.mode_de_paiment" for="field_mode_de_paiment">Mode De Paiment</label>
            <select class="form-control" id="field_mode_de_paiment" name="mode_de_paiment" ng-model="vm.commande.mode_de_paiment" ng-options="mode_de_paiment as mode_de_paiment.mode for mode_de_paiment in vm.mode_de_paiments track by mode_de_paiment.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
