
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommandeClientLabel" data-translate="pfeApp.commandeClient.home.createOrEditLabel">Create or edit a Commande Client</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.commandeClient.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.commandeClient.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.commandeClient.numeroCommande" for="field_numeroCommande">Numero Commande</label>
            <input type="number" class="form-control" name="numeroCommande" id="field_numeroCommande"
                    ng-model="vm.commandeClient.numeroCommande"
                    required/>
            <div ng-show="editForm.numeroCommande.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroCommande.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroCommande.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.commandeClient.dateCommande" for="field_dateCommande">Date Commande</label>
                <div class="input-group">
                    <input id="field_dateCommande" type="text" class="form-control" name="dateCommande" uib-datepicker-popup="{{dateformat}}" ng-model="vm.commandeClient.dateCommande" is-open="vm.datePickerOpenStatus.dateCommande"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCommande')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateCommande.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateCommande.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
