
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFactureLabel" data-translate="pfeApp.facture.home.createOrEditLabel">Create or edit a Facture</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.facture.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.facture.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.numeroFacture" for="field_numeroFacture">Numero Facture</label>
            <input type="number" class="form-control" name="numeroFacture" id="field_numeroFacture"
                    ng-model="vm.facture.numeroFacture"
                    required/>
            <div ng-show="editForm.numeroFacture.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroFacture.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroFacture.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.dateFacture" for="field_dateFacture">Date Facture</label>
                <div class="input-group">
                    <input id="field_dateFacture" type="text" class="form-control" name="dateFacture" uib-datepicker-popup="{{dateformat}}" ng-model="vm.facture.dateFacture" is-open="vm.datePickerOpenStatus.dateFacture"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFacture')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateFacture.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateFacture.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="vm.facture.designation"
                    required/>
            <div ng-show="editForm.designation.$invalid">
                <p class="help-block"
                    ng-show="editForm.designation.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.quantite" for="field_quantite">Quantite</label>
            <input type="number" class="form-control" name="quantite" id="field_quantite"
                    ng-model="vm.facture.quantite"
                    required/>
            <div ng-show="editForm.quantite.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantite.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantite.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.prix_UHT" for="field_prix_UHT">Prix UHT</label>
            <input type="number" class="form-control" name="prix_UHT" id="field_prix_UHT"
                    ng-model="vm.facture.prix_UHT"
                    required/>
            <div ng-show="editForm.prix_UHT.$invalid">
                <p class="help-block"
                    ng-show="editForm.prix_UHT.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prix_UHT.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.referance" for="field_referance">Referance</label>
            <input type="text" class="form-control" name="referance" id="field_referance"
                    ng-model="vm.facture.referance"
                    required/>
            <div ng-show="editForm.referance.$invalid">
                <p class="help-block"
                    ng-show="editForm.referance.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPiece_jointe($file, vm.facture)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="pfeApp.facture.piece_jointe" for="field_piece_jointe">Piece Jointe</label>
            <div>
                <img data-ng-src="{{'data:' + vm.facture.piece_jointeContentType + ';base64,' + vm.facture.piece_jointe}}" style="max-height: 100px;" ng-if="vm.facture.piece_jointe" alt="facture image"/>
                <div ng-if="vm.facture.piece_jointe" class="help-block clearfix">
                    <span class="pull-left">{{vm.facture.piece_jointeContentType}}, {{vm.byteSize(vm.facture.piece_jointe)}}</span>
                    <button type="button" ng-click="vm.facture.piece_jointe=null;vm.facture.piece_jointeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPiece_jointe($file, vm.facture)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="piece_jointe" id="field_piece_jointe"
                    ng-model="vm.facture.piece_jointe"
                    required/>
            <input type="hidden" class="form-control" name="piece_jointeContentType" id="field_piece_jointeContentType"
                    ng-model="vm.facture.piece_jointeContentType" />
            <div ng-show="editForm.piece_jointe.$invalid">
                <p class="help-block"
                    ng-show="editForm.piece_jointe.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.facture.sortie" for="field_sortie">Sortie</label>
                <input type="checkbox" name="sortie" id="field_sortie"
                          ng-model="vm.facture.sortie"/>
        </div>

        <div class="form-group">
            <label data-translate="pfeApp.facture.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" ng-model="vm.facture.client" ng-options="client as client.nom for client in vm.clients track by client.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.client.$invalid">
            <p class="help-block"
                ng-show="editForm.client.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="pfeApp.facture.bons_de_livraison" for="field_bons_de_livraison">Bons De Livraison</label>
            <select class="form-control" id="field_bons_de_livraison" name="bons_de_livraison" ng-model="vm.facture.bons_de_livraison" ng-options="bons_de_livraison as bons_de_livraison.reference for bons_de_livraison in vm.bons_de_livraisons track by bons_de_livraison.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
