
<div>
    <h2><span data-translate="pfeApp.bons_de_livraison.detail.title">Bons De Livraison</span> {{vm.bons_de_livraison.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="pfeApp.bons_de_livraison.designation">Designation</span></dt>
        <dd>
            <span>{{vm.bons_de_livraison.designation}}</span>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.quantite_commandees">Quantite Commandees</span></dt>
        <dd>
            <span>{{vm.bons_de_livraison.quantite_commandees}}</span>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.date_livraison">Date Livraison</span></dt>
        <dd>
            <span>{{vm.bons_de_livraison.date_livraison | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.objet">Objet</span></dt>
        <dd>
            <span>{{vm.bons_de_livraison.objet}}</span>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.piece_jointe">Piece Jointe</span></dt>
        <dd>
            <div ng-if="vm.bons_de_livraison.piece_jointe">
                <a ng-click="vm.openFile(vm.bons_de_livraison.piece_jointeContentType, vm.bons_de_livraison.piece_jointe)" data-translate="entity.action.open">open</a>
                {{vm.bons_de_livraison.piece_jointeContentType}}, {{vm.byteSize(vm.bons_de_livraison.piece_jointe)}}
            </div>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.reference">Reference</span></dt>
        <dd>
            <span>{{vm.bons_de_livraison.reference}}</span>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.article">Article</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.bons_de_livraison.article.id})">{{vm.bons_de_livraison.article.referance}}</a>
        </dd>
        <dt><span data-translate="pfeApp.bons_de_livraison.commande">Commande</span></dt>
        <dd>
            <a ui-sref="commande-detail({id:vm.bons_de_livraison.commande.id})">{{vm.bons_de_livraison.commande.reference}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="bons-de-livraison-detail.edit({id:vm.bons_de_livraison.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
