
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBons_de_ReceptionLabel" data-translate="pfeApp.bons_de_Reception.home.createOrEditLabel">Create or edit a Bons De Reception</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bons_de_Reception.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bons_de_Reception.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.bons_de_Reception.dateReception" for="field_dateReception">Date Reception</label>
                <div class="input-group">
                    <input id="field_dateReception" type="text" class="form-control" name="dateReception" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bons_de_Reception.dateReception" is-open="vm.datePickerOpenStatus.dateReception"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateReception')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateReception.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateReception.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pfeApp.bons_de_Reception.objet" for="field_objet">Objet</label>
            <input type="text" class="form-control" name="objet" id="field_objet"
                    ng-model="vm.bons_de_Reception.objet"
                    />
        </div>

        <div class="form-group">
            <label data-translate="pfeApp.bons_de_Reception.fournisseur" for="field_fournisseur">Fournisseur</label>
            <select class="form-control" id="field_fournisseur" name="fournisseur" ng-model="vm.bons_de_Reception.fournisseur" ng-options="fournisseur as fournisseur.nom for fournisseur in vm.fournisseurs track by fournisseur.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.fournisseur.$invalid">
            <p class="help-block"
                ng-show="editForm.fournisseur.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="pfeApp.bons_de_Reception.condition_de_reglement" for="field_condition_de_reglement">Condition De Reglement</label>
            <select class="form-control" id="field_condition_de_reglement" name="condition_de_reglement" ng-model="vm.bons_de_Reception.condition_de_reglement" ng-options="condition_de_reglement as condition_de_reglement.condition for condition_de_reglement in vm.condition_de_reglements track by condition_de_reglement.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.condition_de_reglement.$invalid">
            <p class="help-block"
                ng-show="editForm.condition_de_reglement.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
