<div>
    <h2 data-translate="pfeApp.depense.home.title">Depenses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="depense.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="pfeApp.depense.home.createLabel">
                        Create new Depense
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'pfeApp.depense.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_depense"><span data-translate="pfeApp.depense.date_depense">Date Depense</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_echeance"><span data-translate="pfeApp.depense.date_echeance">Date Echeance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="pfeApp.depense.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observation"><span data-translate="pfeApp.depense.observation">Observation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="document"><span data-translate="pfeApp.depense.document">Document</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="operation.designation"><span data-translate="pfeApp.depense.operation">Operation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fournisseur.nom"><span data-translate="pfeApp.depense.fournisseur">Fournisseur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="compte.designation_compte"><span data-translate="pfeApp.depense.compte">Compte</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mode_de_paiment.mode"><span data-translate="pfeApp.depense.mode_de_paiment">Mode De Paiment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="depense in vm.depenses track by depense.id">
                    <td><a ui-sref="depense-detail({id:depense.id})">{{depense.id}}</a></td>
                        <td>{{depense.date_depense | date:'mediumDate'}}</td>
                        <td>{{depense.date_echeance | date:'mediumDate'}}</td>
                    <td>{{depense.reference}}</td>
                    <td>{{depense.observation}}</td>
                    <td>
                        <a ng-if="depense.document" ng-click="vm.openFile(depense.documentContentType, depense.document)" data-translate="entity.action.open">open</a>
                        <span ng-if="depense.document">{{depense.documentContentType}}, {{vm.byteSize(depense.document)}}</span>
                    </td>
                    <td>
                        <a ui-sref="operation-detail({id:depense.operation.id})">{{depense.operation.designation}}</a>
                    </td>
                    <td>
                        <a ui-sref="fournisseur-detail({id:depense.fournisseur.id})">{{depense.fournisseur.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="compte-detail({id:depense.compte.id})">{{depense.compte.designation_compte}}</a>
                    </td>
                    <td>
                        <a ui-sref="mode-de-paiment-detail({id:depense.mode_de_paiment.id})">{{depense.mode_de_paiment.mode}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="depense-detail({id:depense.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="depense.edit({id:depense.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="depense.delete({id:depense.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
